table {
	border-collapse: collapse;
	width: 100%;
}
table, td, th {
	border:1px solid #A9A9A9;
	padding: 3px;
}
.info {
	text-align: left;
	background-color: #C0C0C0;
}
.right-side {
	text-align:right;
}
.center {
	text-align:center;
}
