@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0.3em 0 0.5em;
}
h1 { font-size: 36px;}
h2 { font-size: 32px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 22px;}
h6 { font-size: 18px;}

a:link,
a:visited {
	color: #C51417;
	text-decoration: none;
}
a:hover {
	color: #4B0607;
	text-decoration: underline;
}
a:active {
	color: #978C8C;
}

#wrapper {
	margin: 30px auto;
	padding: 15px;
	background: #FFFFFF;
	width: 950px;
	box-shadow: 0 2px 6px 0 #888888;
	border-radius: 2px;
}
#header {
	background: #C51417;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 15px;
	color: #FFFFFF;
}
#header a:link,
#header a:visited {
	color: #D9E153;
}
#header a:hover {
	color: #D77D7F;
}
#header a:active {
	color: #350708;
}
#logo {
	float: left;
}
#slogan {
	float:right;
	font-style: italic;
	font-size: 22px;
}
#slogan p {
	margin:0;
}
#nav {
	height: 40px;
	background: #333333;
	margin-bottom: 15px;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float:left;
}
#nav ul li a {
	height: 20px;
	line-height: 20px;
	padding: 10px;
	display: block;
}
#nav ul li a:link,
#nav ul li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #FFFFFF;
	background: #C51417;
}
#nav ul li a:active {
	color: #FFFFFF;
	background: #CCCCCC;
}
#main {
	float: left;
	width:660px;
	margin-bottom: 15px;
}
#sidebar {
	float:right;
	width:280px;
	margin-bottom: 15px;
}
#sidebar .block {
	margin-bottom: 30px;
}
#sidebar h2 {
	background: #BBBBBB;
	color: #FFFFFF;
	padding: 3px;
}
#footer {
	clear: both;
	background: #333333;
	text-align: center;
	color: #CCCCCC;
	font-size: 12px;
	padding: 5px;
}
#footer p {
	margin: 0;
}